Flask
Flask-PyMongo==2.3.0
flask-cors
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail
pymongo
python-dotenv
itsdangerous
langchain
langchain-openai
langchain-mongodb
langchain-community
langchain-deepseek
langchain-google-genai
Werkzeug
gunicorn
dashscope
docx2txt
PyPDF2
pypdf

