Flask
Flask-PyMongo==2.3.0
flask-cors
flask-socketio
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail
pymongo
python-dotenv
itsdangerous
langchain
langchain-openai
langchain-mongodb
langchain-community
langchain-deepseek
langchain-google-genai
langchain-anthropic
boto3
Werkzeug
gunicorn
dashscope
docx2txt
pypdf
python-pptx
trafilatura
tavily-python
anthropic
hume
pymupdf
Flask-SocketIO
imageio-ffmpeg
assemblyai==0.64.4
opencv-python-headless
